@import "_colors";
@import "Tables";
@import "NavbarFooter";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-logo {
  float: left !important;
  margin-top: -15px !important;
}

.lbl {
  display: block;
}

.mypic {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 80%;
  width: 80%;
  position: absolute;
}

html {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  // margin-bottom: 50px; removed due to white gap on data pages
  clear: both;
}

.content {
  flex: 1 0 auto;
}

.footer {
  bottom: 0px;
  width: 100%;
  background-color: #fff;
}

.push {
  height: 50px;
}

.filterBtn {
  width: 90%;
  margin: 0px 5px;
  border-radius: 30px;
  padding: 5px;
}

.visits {
  width: 150px;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 576px) {
  textarea {
    width: 50%;
  }
}
