@import "_colors";

.appbar,
.footer {
  padding: 2vw;
  background-color: rgb(37, 35, 35) !important;
}

.navbar-item,
.footer-item {
  color: $navFooterText;
  text-decoration: none;
  &:hover {
    color: $navFooterTextHover;
    text-decoration: none;
  }
}
